/*---------------- top hover menu ------------*/

		.me_nu>li {

			display: block;

		}

		.me_nu>li>a {

			background: #fff;

			font-size: 16px;

			font-weight: 600;

			line-height: 29px;

			text-decoration: none;

			color: #2c2e31 !important;

		}

		.me_nu {

			padding: 0px;

		}

		.me_nu>li>a:hover {

			background: #00f;

			color: #fff !important;

			border-bottom: 2px solid #cccccc94;

		}


		* {

			margin: 0px;

			padding: 0px;

		}

		body {

			font-family: 'Titillium Web', sans-serif !important;

		}

		.bg-custom-1 {

			background-color: #85144b;

		}

		.bg-custom-2 {

			background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);

		}

		.navba_r {

			padding: 8px;

			background-color: #fff;

			border-color: #fff;
			
			margin-bottom: 0px;

			border-radius: 0px;

			-webkit-box-shadow: 0 10px 6px -6px #9898986e;

			-moz-box-shadow: 0 10px 6px -6px #9898986e;

			box-shadow: 0 10px 6px -6px #9898986e;

		}

		.navbar-brand {

			color: #0000FF !important;

			font-size: 24px;

			padding: 0px;

		}

		.navbar-nav li a {

			color: #0D1326 !important;

			font-size: 18px;

			float: right;

		}
		
		/*------------------------ tabs css start -----------------------*/

		.tabs_b {

			max-width: 900px;

			;

			margin: 0 auto;

			padding: 0 20px;

		}

		#tab-button {

			display: table;

			table-layout: fixed;

			width: 64%;

			margin: 0px auto;

			padding: 0;

			list-style: none;

		}

		#tab-button li {

			display: table-cell;

			width: 20%;

		}

		#tab-button li a {

			display: block;

			padding: .5em;

			background: #eee;

			border: 1px solid #bdb7b799;

			text-align: center;

			color: #000;

			text-decoration: none;

			font-size: 16px;

		}

		.tabs_p {

			margin-top: 189px;

		}

		#tab-button li:not(:first-child) a {

			border-left: none;

		}

		#tab-button li a:hover,

		#tab-button .is-active a {

			border-bottom-color: transparent;

			background: #0000FF;

			color: #fff;

			font-size: 16px;

		}

		.no-radius {

			padding: 9px 31px;

			background: #0000ff;

			border-color: #0000ff;

		}

		.tab-contents {

			padding: .5em 2em 1em;

			border: 1px solid #ddd;

			overflow: auto;

			background: #fff;

			box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .05), 0 1px 2px 0 rgba(0, 0, 0, .1), 0 2px 20px 0 rgba(0, 0, 0, .2);

		}

		h2.cl_s {

			font-size: 25px;

		}

		.fo_c {

			border-radius: 0px;

			height: 40px;

		}

		.has-search .fo_c {

			padding-left: 42px;

		}

		.has-search .form-control-feedback {

			position: absolute;

			z-index: 2;

			display: block;

			left: 0px;

			top: 10px;

			width: 2.375rem;

			height: 2.375rem;

			line-height: 2.375rem;

			text-align: center;

			pointer-events: none;

			color: #aaa;

		}

		.tab-button-outer {

			display: none;

		}

		.tab-contents {

			position: relative;

			top: -1px;

			padding-bottom: 30px;

			margin-top: 0;

			padding-top: 48px;

			margin-top: 20px;

		}

		@media screen and (min-width: 768px) {

			.tab-button-outer {

				position: relative;

				z-index: 2;

				display: block;

			}

			.tab-select-outer {

				display: none;

			}

			.tab-contents {

				position: relative;

				top: -1px;

				margin-top: 0;

			}

		}

		.fir_b {

			margin-right: 5px;

			border-top-right-radius: 15px;

			border-top-left-radius: 15px;

		}

		.bl_c {

			background: #00f;

		}

		/*---------------------- my job page css ---------------*/

		.top_search {

			width: 100%;

			background: url("img/my-job-top.png");

			height: 158px;

		}

		.h4_p {

			line-height: 140px;

			color: #fff;

			font-size: 41px;

			font-weight: 600;

		}

		.left_s {

			padding: 5px;

			background: #fff;

			box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .05), 0 1px 2px 0 rgba(0, 0, 0, .1), 0 2px 20px 0 rgba(0, 0, 0, .2);

		}

		.body_1 {

			padding: 8px !important;

			background: #fff;

			margin-bottom: 30px;

			box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .05), 0 1px 2px 0 rgba(0, 0, 0, .1), 0 2px 20px 0 rgba(0, 0, 0, .2);

		}

		.img_user {

			margin: 0px auto;

			border-radius: 50%;

			width: 120px;

			height: 120px;

		}

		.user_n {

			padding: 8px;

			font-size: 18px;

			font-weight: 600;

			color: #6d4e21;

		}

		.body_l {

			margin-top: 15px;

		}

		.list_inli>li {

			list-style: none;

			margin-left: 15px;

		}

		.list_inli>li>a {

			color: #333;

			text-decoration: none;

			font-size: 15px;

			line-height: 28px;

			font-weight: 600;

			padding-left: 3px;

			transition: .5s;

			-webkit-transition: .5s;

			-moz-transition: .5s;

		}

		.list_inli>li>a:hover {

			padding-left: 5px;

		}

		.han_fa {

			margin-right: 10px;

			color: #6f4d34;

		}

		@media screen and (min-width: 320px) and (max-width: 767px) {

			.list-inline li a {

				margin-left: 11px;

			}

			.footer {

				margin-right: 15px;

			}

			.list-inline li {

				padding-right: 0px;

			}

			.tabs_p {

				margin-top: 66px;

			}

			select#tab-select {

				border: 1px solid #ccc;

				height: 37px;

				width: 100%;

			}

			.tab-contents {

				padding-bottom: 0px;

				padding-top: 0px;

				margin-top: 20px;

			}

			.icon-bar {

				background-color: #fff !important;

			}

			.mo_c {

				background: #0000FF;

			}

			.co_r {

				text-align: center;

				float: none;

				margin-left: 11px;

			}

			.ib_m {

				margin-top: 0px !important;

			}

			.one_e1 {

				margin-top: 39px !important;

			}

			.loc_c {

				top: 44px;

			}

			.ne_t {

				margin-bottom: 26px !important;

			}

			.full_box {

				padding: 0px;

			}

			.mob_pa {

				padding: 0px;

			}

		}

		/*---------------- select box css ------------*/

		.styled-select {

			border: 1px solid #ccc;

			box-sizing: border-box;

			border-radius: 3px;

			margin: auto;

			overflow: hidden;

			position: relative;

		}

		.styled-select,

		.styled-select select {

			width: 100%;

		}

		select:focus {

			outline: none;

		}

		.styled-select select {

			height: 34px;

			padding: 5px 0 5px 5px;

			background: transparent;

			border: none;

			font-size: 16px;

			font-weight: 600;

			/*hide default down arrow in webkit */

			-webkit-appearance: none;

		}

		@-moz-document url-prefix() {

			.styled-select select {

				width: 110%;

			}

		}

		.fa-sort-desc {

			position: absolute;

			top: 0;

			right: 12px;

			font-size: 24px;

		}

		select::-ms-expand {

			display: none;

		}

		/* hide default down arrow in IE10*/

		/* hack to fall back in opera */

		_:-o-prefocus,

		.selector {

			.styled-select {

				background: none;

			}

		}


		/*------------- table css ---------------*/

		.data_tab {

			background: #fff;

			box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .05), 0 1px 2px 0 rgba(0, 0, 0, .1), 0 2px 20px 0 rgba(0, 0, 0, .2);

			padding: 8px;

		}

		.head_co {

			background: #464646;

			color: #ffffff;

		}

		.bod_t>tr>td {

			font-weight: 600;

			color: #292929;

			text-align: center;

		}

		.h4_p {

			line-height: 140px;

			color: #fff;

			font-size: 41px;

			font-weight: 600;

		}

		.left_s {

			padding: 5px;

			background: #fff;

		}

		.fil_5 {

			text-align: center;

			font-size: 17px;

			color: #000;

		}

		.ne_t {

			padding: 8px !important;

			margin-bottom: 18px;

			background: #fff;

			box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .05), 0 1px 2px 0 rgba(0, 0, 0, .1), 0 2px 20px 0 rgba(0, 0, 0, .2);

		}

		.comp_r {

			font-size: 16px;

			color: #000000b8;

			line-height: 6px;

			font-weight: 600;

			padding-top: 0px;

		}

		.p_r {

			color: #ffffff;

			font-weight: 600;

			padding: 3px;

			border-radius: 2px;

			background: #ce7517;

		}

		.te_t {

			font-weight: 600;

			color: #ce7517;

			text-decoration: none;

		}

		.te_t:hover {

			text-decoration: none;

		}

		.btn_p {

			background: #1f70c1;

			border-color: #1f70c1;

			padding: 5px 27px;

			border-radius: 0px;

		}

		.ib_m {

			margin-top: 117px !important;

			margin: 0px auto;

		}

		.loc_c {

			position: absolute;

			bottom: -104px;

			color: #444444;

			font-weight: 600;

			font-size: 16px;

		}

		.btn_ea {

			background: #ce7517;

			border-color: #ce7517;

			border-radius: 0px;

		}

		.lin_h {

			line-height: 15px;

		}

		.lading_b {

			position: sticky;

			position: -webkit-sticky;

			top: 0;

			z-index: 9999;

		}

		.me_nu {

			text-decoration: none;

			color: #000 !important;

		}

		/*--------------- collapse expand css ------------------*/

		.panel-group .panel {

			border-radius: 0;

			box-shadow: none;

			border-color: #EEEEEE;

		}

		.panel-default > .panel-heading {

			padding: 0;

			border-radius: 0;

			color: #fff;

			background-color: #ce7517;

			border-color: #ce7517;

		}

		.panel-title {

			font-size: 14px;

		}

		.panel-title > a {

			display: block;

			padding: 15px;

			text-decoration: none;

		}

		.more-less {

			float: right;

			color: #fff;

		}

		.panel-default > .panel-heading + .panel-collapse > .panel-body {

			border-top-color: #EEEEEE;

		}

		/* ----- v CAN BE DELETED v ----- */

		/*------------------------- checkbox css -----------------*/

		[type="checkbox"]:checked,

		[type="checkbox"]:not(:checked) {

			position: absolute;

			left: -9999px;

		}

		[type="checkbox"]:checked + label,

		[type="checkbox"]:not(:checked) + label {

			position: relative;

			padding-left: 28px;

			cursor: pointer;

			line-height: 20px;

			display: inline-block;

			color: #666;

		}

		[type="checkbox"]:checked + label:before,

		[type="checkbox"]:not(:checked) + label:before {

			content: '';

			position: absolute;

			left: 0;

			top: 0;

			width: 18px;

			height: 18px;

			border: 1px solid #ddd;

			background: #fff;

		}

		[type="checkbox"]:checked + label:after,

		[type="checkbox"]:not(:checked) + label:after {

			content: '';

			width: 8px;

			height: 8px;

			background: #465566;

			position: absolute;

			top: 6px;

			left: 6px;

			-webkit-transition: all 0.2s ease;

			transition: all 0.2s ease;

		}

		[type="checkbox"]:not(:checked) + label:after {

			opacity: 0;

			-webkit-transform: scale(0);

			transform: scale(0);

		}

		[type="checkbox"]:checked + label:after {

			opacity: 1;

			-webkit-transform: scale(1);

			transform: scale(1);

		}

		/*------------- footer css start ----------------*/

		.footer {

			background: #fff !important;

			padding: 10px;

			padding-top: 18px;

			margin-top: 24px;

		}

		.navbar-nav li a {

			float: none;

			text-align: center;

		}

		.list-inline li {

			list-style: none;

		}

		.navbar-nav>li {

			background: #00f;

		}

		.list-inline li a {

			color: #313131;

			text-decoration: none;

			font-weight: 600;

		}

		.co_r {

			color: #313131;

			font-weight: 600;

			float: right;

		}

		@media screen and (min-width: 320px) and (max-width: 767px) {

			.list-inline li a {

				margin-left: 11px;

			}

			.footer {

				margin-right: 15px;

			}

			.list-inline li {

				padding-right: 0px;

			}

			.tabs_p {

				margin-top: 66px;

			}

			select#tab-select {

				border: 1px solid #ccc;

				height: 37px;

				width: 100%;

			}

			.tab-contents {

				padding-bottom: 0px;

				padding-top: 0px;

				margin-top: 20px;

			}

			.icon-bar {

				background-color: #fff !important;

			}

			.mo_c {

				background: #0000FF;

			}

			.co_r {

				text-align: center;

				float: none;

				margin-left: 11px;

			}

			.ib_m {

				margin-top: 0px !important;

			}

			.one_e1 {

				margin-top: 39px !important;

			}

			.loc_c {

				top: 44px;

			}

			.ne_t {

				margin-bottom: 26px !important;

			}

			.full_box {

				padding: 0px;

			}
			.right_min{width:100% !important;}
            .left_min{width:100% !important;}
			.body_1{overflow: auto;}
			.wid{width:100%;}

		}

		/*----------- model popup css -----------*/

		.model_b {

			top: 130px;

		}

		.header_p {

			padding: 10px;

			border-bottom: 1px solid #e5e5e5;

			background: #00f;

			color: #fff;

		}

		.close {

			color: #fff;

			opacity: 1.5;

		}

		.close:hover {

			color: #fff;

			opacity: 1.5;

		}

		.mo_fo {

			padding: 10px;

			border: none;

			border-radius: 0px !important;

		}

		.rde {

			color: white;

			background: #b92421;

		}

		.prim {

			background: #1f70c1;

			color: #fff;

		}
/*------------------ my job page table css --------------------*/
.chan_cs>tr>td{border-top:0px !important;}
.bordr_t{border-top:1px solid #fff !important;}
.mod_bo{padding:0px;}
.slect_r{width:100% !important;}
.bot_m{margin-bottom: 0px;}
.leg_d {
    padding-bottom: 25px !important;
    background: #fff;
    padding: 0px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .05), 0 1px 2px 0 rgba(0, 0, 0, .1), 0 2px 20px 0 rgba(0, 0, 0, .2);
    margin-bottom: 15px;
}
h3.inter_v {
    color: #a7731b;
    font-size: 20px;
    font-weight: 600;
}

/*------------------- create job page ----------------------------*/
 .nav-tabs>li.active>a {
    color: #fff !important;
    border-radius: 0px;
    background-color:#676767 !important;
}
.nav-tabs>.nav-item>a {
    text-decoration: none;
    background-color: #2c7cdd !important;
	color: #fff !important;
	border-radius: 0px;
}
.mil_e{padding: 20px;}
.right_min{width:47%; margin-left: 2%;}
.left_min{width:47%; margin-left: 2%;}
.wid{width:100%;}
.creat_j {
    margin-top: 15px;
}

		